.container{
    width: 100%;
    margin: 0;
    padding: 10;
}

.satu{
    width: 200px;
    height: 200px;
    border: solid;
    background-color: forestgreen;
    box-shadow: 30px 30px black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-image-source: url("hearts.png");
    border-image-width: 23px;
    border-image-slice: 35%;
    border-image-repeat: repeat;
    border-image-outset: 23px;
}

.dua{
    width: 200px;
    height: 200px;
    border: solid;
    background-color: blue;
    box-shadow: 10px 10px 10px black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-image-source: url("border1.png");
    border-image-width: 30px;
    border-image-slice: 35%;
    border-image-repeat: repeat;
    border-image-outset: 18px;
}